<% include partials/header %>
<h1>This is the about Page:</h1>
<% if(names.toLowerCase() === "zain") { %>
    <h2>Hello Zain</h2>
    <% } else { %>
    <h2>Hello Who Are You?</h2>
    <% } %>
<% include partials/footer %>